.anuncio {
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
iframe {
  border: none;
}
.anuncio_250 {
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
